<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="{% static 'common.css'  %}">
  </head>
<body>
    <div class="main-page">
        <div class="form">
          <form class="register-form" method="post" >
            {% csrf_token %}
            <input type="text" placeholder="First Name" name="firstName" required />
            <input type="text" placeholder="Last Name" name="lastName"/ required>
            <input type="email" placeholder="Email Address" name="email"/ required>
            <select name="userType">
                <option value="Recruiter">Recruiter</option>
                <option value="Applicant">Applicant</option>
            </select>
            <input type="password" placeholder="Password" name="passwd"/>
            <button>SignUp</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
          </form>
    </div>
</body>
</html>